    <form class="mt-5" (ngSubmit)="createUser()" [formGroup]="userForm">
    <div class="imgcontainer">
        <img src="https://www.seekpng.com/png/detail/44-444040_add-user-group-woman-man-icon-add-group.png" alt="Avatar" class="avatar" />
    </div>

    <div class="container">
        <label for="name"><b>Name</b></label>
        <input type="text" formControlName="name" placeholder="Enter Your Name" name="name" required />

        <label for="psw"><b>Job</b></label>
        <input type="text" formControlName="job" placeholder="Enter your Job" name="job" required />

        <button type="submit">Add user</button>
    </div>

    <div>
        <p class="fs-4 text-center text-primary">{{info}}</p>
    </div>
    <!-- <div class="container" style="background-color: #f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div> -->
    </form>
