<div class="titel">
    <h5>Users List</h5>
</div>


<br>

<table *ngIf="response" class="table table-striped">
    <thead class="table-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Avatar</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of  users.data; let i = index">
            <td>{{ user.id }}</td>
            <td><img [src]="user.avatar" alt=""></td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
                <button routerLink="/users/{{user.id}}" class="button btn btn-primary">View</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- <div *ngIf="response" class="card">
    <div class="card-body" >
        <p class="card-text">page : {{response.metadata.page}}</p>
        <p class="card-text">per_page : {{response.metadata.per_page}}</p>
        <p class="card-text">total : {{response.metadata.total}}</p>
        <p class="card-text">total_pages : {{response.metadata.total_pages}}</p>
    </div>
</div> -->